# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# TODO: Add code owner(s) when known

# Global
@fill-me

# docs
/docs @fill-me

# example
/example @fill-me

# lib
/lib @fill-me
