name: Size

on:
  pull_request:
    branches:
      - main
    paths:
      - "lib/**"
      - ".github/actions/install-dependencies/**"
      - ".github/workflows/size-limit.yaml"
      - "package.json"
      - "package-lock.json"
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install
        with:
          node-version: 24

      - uses: andresz1/size-limit-action@v1.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_step: install
          directory: lib
          build_script: build
          package_manager: npm
