name: Welcome New Contributors

on:
  pull_request_target:
    types:
      - opened
  issues:
    types:
      - opened

jobs:
  welcome:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Welcome for First Issue or Pull Request
        uses: actions/first-interaction@v3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          issue_message: |
            ### :wave: Welcome! Looks like this is your first issue.

            Thanks for opening an issue!
            We appreciate your attention to our project and are looking forward to continuing to collaborate with you.
          pr_message: |
            ### :wave: Welcome! Looks like this is your first pull request.

            Thanks for your pull request!
            We appreciate your contribution to our project and are looking forward to continuing to collaborate with you.
